.install-prompt {
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.install-prompt img {
    width: 24px;
    height: 24px;
    filter: drop-shadow(0 0 10px white);
}

.install-prompt img:hover {
    filter: drop-shadow(0 0 10px white);
}

.button {
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.35em;
    width: 300px;
    padding: 0.75em 1em;
    padding-right: 1.25em;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-weight: 700;
    border-radius: 10em;
    font-size: 2rem;
    box-shadow: 0 0.7em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
    transition: transform 0.3s;
    background: linear-gradient(90deg,
            rgba(77, 54, 208, 1) 0%,
            rgba(132, 116, 254, 1) 100%);
}

.button__icon {
    width: 1.5em;
    height: 1.5em;
}

.button__text {
    font-size: 1.2rem;
    font-weight: 600;
}

.button:hover {
    border-color: #f4f5f2;
    box-shadow: 0 0.7em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
    border: 2px solid #f4f5f2;
}

.button:active {
    transform: scale(0.98);
    box-shadow: 0 0.5em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
}