.container-top {
  display: flex;
  margin: 2rem 0 0.5rem 0;
  justify-content: space-between;
  /* Space for the header */
}

/* Reminder component takes 70% of the space */
.container-top> :first-child {
  flex: 0 0 60%;
  max-width: 60%;
}

/* Locator component takes 20% of the space */
.container-top> :last-child {

  flex: 0 0 37.5%;
  max-width: 37.5%;
}

.home-container {
  position: relative;
  z-index: 1;
}

/* When menu is open, prevent interaction with home content */
body.menu-open .home-container {
  pointer-events: none;
}